
<form autocomplete="off" onsubmit="event.preventDefault();">
    <fieldset>
        <div class="form-group">
            <label>{{localize "LMRTFY.SelectCharacters"}}</label>
                <select name="actors" id="lmrtf-lore-skills" data-placeholder="Begin typing a name to filter..." multiple class="chosen-select" data-dtype="String">
                    <option value=""></option>
                    {{#each actors}}
                    <option value="{{this.id}}" {{#if (lmrtfy-isSelected "actors" this.id)}}selected{{/if}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <button type="button" class="lmrtfy-select-all" name="submit" value="1"><i class="fas fa-check-square"></i>{{localize "LMRTFY.SelectAll"}}</button>
    </fieldset>
   
    <fieldset>
    <div class="form-group">
        <label>{{localize "LMRTFY.Modifiers"}}</label>
        
        <select name="mode" data-dtype="String">
            {{#each rollModes as |name mode|}}
            <option value="{{mode}}" {{#if (lmrtfy-isSelected "mode" mode)}}selected{{/if}}>{{localize name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "LMRTFY.WindowTitle"}}</label>
        <input type="text" name="title" value='{{#if selected.title}}{{selected.title}}{{else}}{{localize "LMRTFY.WindowTitleValue"}}{{/if}}' placeholder='{{localize "LMRTFY.WindowTitlePlaceholder"}}' data-dtype="String"/>
    </div>
    </fieldset>

    <fieldset>
        <div class="form-group">
            <label>{{localize "LMRTFY.ChooseOne"}}</label>
            <div class="lmrtfy-extra-perception">
                <input type="checkbox" name="choose-one" id="lmrtf-choose-one" data-dtype="Boolean" {{#if (lmrtfy-isSelected "chooseOne")}}checked{{/if}} />
                <label for="lmrtf-choose-one">{{localize "LMRTFY.Enabled"}}</label>
            </div>
        </div>          
        <div class="form-group">
            <label>{{localize "LMRTFY.DCLabel"}}</label>
            <input type="number" name="dc" value="{{selected.dc.value}}" placeholder="20" data-dtype="Integer"/>
            
            <label>&nbsp;{{localize "LMRTFY.Visibility"}}</label>
            <select name="visibility" data-dtype="String">
                <option value="gm" {{#if (lmrtfy-isSelected "dc" "gm" "visibility")}}selected{{/if}}>{{localize "USER.RoleGamemaster"}}</option>
                <option value="owner" {{#if (lmrtfy-isSelected "dc" "owner" "visibility")}}selected{{/if}}>{{localize "OWNERSHIP.OWNER"}}</option>
                <option value="all" {{#if (lmrtfy-isSelected "dc" "all" "visibility")}}selected{{/if}}>{{localize "OWNERSHIP.AllPlayers"}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>{{localize "PF2E.Traits"}}</label>
                <select name="traits" id="lmrtf-traits" data-placeholder="Begin typing a name to filter..." multiple class="chosen-select" data-dtype="String">
                    <option value=""></option>
                    {{#each traits as |name key|}}
                    <option value="{{key}}" {{#if (lmrtfy-isSelected "traits" key)}}selected{{/if}}>{{localize name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label>{{localize "LMRTFY.ExtraRollOptions"}}</label>
                <select name="extraRollOptions" id="lmrtf-extraRollOptions" data-placeholder="Begin typing a name to filter..." multiple class="chosen-select" data-dtype="String">
                    <option value=""></option>
                    {{#each extraRollOptions}}
                    <option value="{{this}}" {{#if (lmrtfy-isSelected "extraRollOptions" this)}}selected{{/if}}>{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </fieldset>

    <fieldset>
        {{#each selected.extraRollNotes}}
        <div class="form-group">
            <label>&nbsp;{{localize "PF2E.RuleElement.Note"}} {{@index}}:</label>
            <input type="hidden" name="extraRollNoteIndex" value="{{@index}}"/>
        </div>

        <div class="form-group">
            <label>&nbsp;{{localize "PF2E.RuleEditor.General.Selector"}}</label>
            <input type="text" name="extraRollNoteSelector{{@index}}" value="{{this.selector}}" placeholder='' data-dtype="String"/>
        </div>

        <div class="form-group">
            <label>&nbsp;{{localize "PF2E.RuleEditor.Note.Title"}}</label>
            <input type="text" name="extraRollNoteTitle{{@index}}" value="{{this.title}}" placeholder='' data-dtype="String"/>
        </div>

        <div class="form-group">
            <label>&nbsp;{{localize "PF2E.RuleEditor.Note.Text"}}</label>
            <input type="text" name="extraRollNoteText{{@index}}" value="{{this.text}}" placeholder='' data-dtype="String"/>
        </div>

        <div class="form-group">
            <label>&nbsp;{{localize "PF2E.RuleEditor.General.Predicate"}}</label>
            <input type="text" name="extraRollNotePredicate{{@index}}" value="{{this.predicate}}" placeholder='' data-dtype="String"/>
        </div>

        <div class="form-group">
            <label>&nbsp;{{localize "PF2E.RuleEditor.Note.Outcome"}}</label>
            <select id="test1234" name="extraRollNoteOutcome{{@index}}" data-placeholder="Begin typing a name to filter..." multiple class="chosen-select" data-dtype="String">
            <option value=""></option>
            {{#each ../outcomes as |name key|}}
            <option value="{{key}}" {{#if (lmrtfy-contains ../outcome key)}}selected{{/if}}>{{localize name}}</option>
            {{/each}}
            </select>
        </div>

        <div class="form-group">
            <label>&nbsp;{{localize "LMRTFY.Visibility"}}</label>
            <select name="extraRollNoteVisibility{{@index}}" id="extraRollNoteVisibility{{@index}}-options" data-dtype="String">
                <option value="gm" {{#if (lmrtfy-isEqual this.visibility "gm")}}selected{{/if}}>{{localize "USER.RoleGamemaster"}}</option>
                <option value="owner" {{#if (lmrtfy-isEqual this.visibility "owner")}}selected{{/if}}>{{localize "OWNERSHIP.OWNER"}}</option>
                <option value="all" {{#if (lmrtfy-isEqual this.visibility "all")}}selected{{/if}}>{{localize "OWNERSHIP.AllPlayers"}}</option>
            </select>
        </div>
        {{/each}}

        <button type="button" class="add-extra-roll-note" name="submit" value="1"><i class="fas fa-plus-square"></i>{{localize "LMRTFY.AddRoleNote"}}</button>
    </fieldset>

    <fieldset>
        <div class="form-group">
            <label>{{localize "LMRTFY.Extras"}}</label>
                
            <div class="lmrtfy-extras">
                {{#if specialRolls.perception}}
                <div class="lmrtfy-extra-perception">
                    <input type="checkbox" name="extra-perception" id="lmrtf-extra-perception" data-dtype="Boolean" {{#if (lmrtfy-isSelected "perception")}}checked{{/if}} />
                    <label for="lmrtf-extra-perception">{{localize "LMRTFY.Perception"}}</label>
                </div>
                {{/if}}
                {{#if specialRolls.flat-check}}
                <div class="lmrtfy-extra-flat-check">
                    <input type="checkbox" name="extra-flat-check" id="lmrtf-extra-flat-check" data-dtype="Boolean" {{#if (lmrtfy-isSelected "flat-check")}}checked{{/if}} />
                    <label for="lmrtf-extra-flat-check">{{localize "PF2E.FlatCheck"}}</label>
                </div>
                {{/if}}
            </div>
        </div>
    </fieldset>
 
    <fieldset>
    <div class="form-group">
        <label>{{localize "LMRTFY.SavingThrows"}}</label>
        
        <div class="lmrtfy-saving-throws">
            {{#each saves as |name key|}}
            <div class="lmrtfy-ability">
                <input type="checkbox" name="save-{{key}}" id="lmrtf-save-{{key}}" data-dtype="Boolean" data-id="{{key}}" {{#if (lmrtfy-isSelected "saves" key)}}checked{{/if}} />
                <label for="lmrtf-save-{{key}}">{{localize name}}</label>            
            </div>
            {{/each}}
        </div>
    </div>
    </fieldset>
   
    <fieldset>
        <div class="form-group">
            <label>{{localize "LMRTFY.SkillChecks"}}</label>
                <select name="skills" id="lmrtf-skills" data-placeholder="Begin typing a name to filter..." multiple class="chosen-select" data-dtype="String">
                    <option value=""></option>
                    {{#each skills as |name key|}}
                    <option value="{{key}}" {{#if (lmrtfy-isSelected "skills" key)}}selected{{/if}}>{{localize name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </fieldset>

    <div class="lmrtfy-submit">
        <button type="submit" class="lmrtfy-request-roll" name="submit" value="1"><i class="fas fa-dice"></i>{{localize "LMRTFY.RequestRolls"}}</button>
        <button type="button" class="lmrtfy-save-roll" name="submit" value="1"><i class="fas fa-download"></i>{{localize "LMRTFY.SaveRequest"}}</button>
        <button type="button" class="lmrtfy-clear-all" name="submit" value="1"><i class="fas fa-eraser"></i>{{localize "LMRTFY.ClearAll"}}</button>
    </div>
</form>
